header {
  border-radius: 0.25em;
  box-sizing: border-box;
  margin: .25em;
  background: #222;
  color: #eee;
  h1 {
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding: 0.5em;
  }
}
