.card.feed {
  ul {
    list-style: none;
    margin: 0.5em 1em;
    padding: 0;
    li {
      clear: both;
      margin-bottom: 1.5em;
      padding-left: 1.75em;
      &::before {
        float: left;
        width: 1.75em;
        margin-left: -1.75em;
        font-style: normal;
        font-weight: normal;
        font-family: "fxemoji-symbols";
        content: "\1F501";
      }
      a {
        font-weight: bold;
      }
      .createdAt {
        float: right;
        font-weight: normal;
        white-space: nowrap;
        padding: 0 0 1em 1em;
        font-size: 0.75em;
        text-decoration: underline dotted;
      }
    }
  }
}
