.card.note {
  section {
    margin-left: 1em;
    margin-right: 1em;
    p {
      margin: 1em;
    }
  }
  ul {
    margin-top: 0.75em;
    padding-left: 2em;
    padding-right: 1em;
    li {
      margin-bottom: 0.75em;
    }
    a {
      font-weight: bold;
    }
  }
}