.card.github {
  ul {
    list-style: none;
    margin: 0.5em 1em;
    padding: 0;
    li {
      margin-bottom: 1em;
      padding-left: 1.75em;
      text-indent: -1.75em;
      &::before {
        float: left;
        width: 1.75em;
        font-style: normal;
        font-weight: normal;
        font-family: "fxemoji-symbols";
      }
      &.WatchEvent {
        &::before { content: "\1F49F"; }
      }
      &.PushEvent {
        &::before { content: "\1F5E7"; }
      }
      &.PullRequestEvent {
        &::before { content: "\1F5E4"; }
      }
      &.IssueCommentEvent {
        &::before { content: "\1F5E3"; }
      }
      &.IssuesEvent {
        &::before { content: "\203C"; }
      }
      &.CreateEvent {
        &::before { content: "\2795"; }
      }
      .actor, .repo,, .issue, .pullRequest, .commitHash, .commitBranch {
        font-weight: bold;
      }
      .commitMessage, .issueTitle, .pullRequestTitle {
        font-style: italic;
      }
      .createdAt {
        white-space: nowrap;
        padding-left: 0.5em;
        font-size: 0.75em;
        text-decoration: underline dotted;
      }
    }
  }
}
