$color-alabaster: #f1e9e9;
$color-wisteria: #c2addb;
$color-rust: #b82e16;
$color-cerulean: #9ac2d8;
$color-taupe: #715b64;
$color-wine: #6a3937;
$color-sienna: #3b0d11;
$color-gunmetal: #272838;
$color-deep-purple: #1a1423;
$color-prussian: #0b3954;
$color-licorice: #0e1116;
$color-rich-black: #020402;

$color-smoky-black: rgba(34, 9, 1, 1);
$color-tangerine: rgba(241, 135, 1, 1);
$color-puce: rgba(98, 23, 8, 1);
$color-rufous: rgba(148, 27, 12, 1);

$color-caput-mortuum: rgba(86, 35, 31, 1);
$color-ruddy-brown: rgba(178, 94, 49, 1);
$color-chestnut: rgba(140, 65, 44, 1);
$color-coral: rgba(206, 106, 70, 1);
