.card.colophon {
  section {
    margin-left: 1em;
    margin-right: 1em;
    dl {
      margin: 1em;
    }
    dd {
      margin-left: 1em;
      margin-bottom: 0.75em;
    }
    p {
      margin: 1em;
    }
    a {
      font-weight: bold;
    }
  }
}
