.card.spotify {
  ul {
    list-style: none;
    margin: 0.5em 1em;
    padding: 0;
    li {
      margin-bottom: 1em;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      align-content: flex-start;
      word-wrap: break-word;
      overflow-wrap: break-word;
      .cover {
        margin-top: 0.25em;
        margin-right: 0.25em;
        flex-grow: 0;
      }
      .cover img {
        width: 48px;
        height: 48px;
      }
      .track {
        flex-grow: 3;
        margin-left: 1.75em;
        text-indent: -1em;
      }
      .preview {
        margin-left: 0.25em;
      }
      audio {
        width: 64px;
      }
      .name, .album, .artist {
        font-weight: bold;
      }
      .playedAt {
        white-space: nowrap;
        padding-left: 0.5em;
        font-size: 0.75em;
        text-decoration: underline dotted;
      }
    }
  }
}


