@import '../styles/theme';
@import '../styles/colors';

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  flex: 1 100%;
  height: 425px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 0.25em;
  box-sizing: border-box;
  // padding: 3em 0 2.3em 0;
  margin: .25em;
  background: #222;
  color: #eee;
  line-height: 1.5em;

  h3 {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 1.25em;
    font-family: monospace;
    text-align: center;
    border-radius: 0.25em 0.25em 0 0;
    background-color: #333;
    padding: 0.5em 0;
    margin: 0;
    opacity: 0.8;
  }

  h4 {
    font-size: 1.125em;
    font-family: monospace;
    position: absolute;
    padding: 0.25em 0;
    margin: 0;
    width: 100%;
    text-align: center;
    bottom: 0;
    background: #333;
    opacity: 0.8;
  }

  section {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &.has-h3 section {
    height: calc(100% - 3em);
    margin-top: 3em;
  }
  &.has-h4 section {
    height: calc(100% - 2.5em);
    margin-bottom: 2.5em;
  }
  &.with-h3.with-h4 section {
    height: calc(100% - 5.5em);
  }

  p {
    margin: 1em;
  }

  button {
    cursor: pointer;
    margin: 0 0.5em;
    padding: 0.25em 0.75em;
    border: 1px solid;
    border-radius: 0.5em;
    opacity: 0.9;
    box-shadow: 0px 0px 8px #111;
    &:active { box-shadow: 0px 0px 2px #111; }
    &:hover { opacity: 1.0; }
  }

  @mixin card-theme($color-0, $color-1, $color-2, $color-3, $color-4) {
    background: $color-0;
    color: $color-2;
    h3 { background-color: $color-3; }
    h4 { background-color: $color-3; }
    a {
      color: $color-1;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    button {
      border-color: $color-3;
      color: $color-4;
      background-color: $color-2;
      box-shadow: 0px 0px 8px $color-4;
      &:active { box-shadow: 0px 0px 2px $color-4; }
    }
  }

  &.theme-primary {
    @include card-theme(
      $color-primary-0, $color-primary-1, $color-primary-2,
      $color-primary-3, $color-primary-4
    );
  }

  &.theme-secondary-1 {
    @include card-theme(
      $color-secondary-1-0, $color-secondary-1-1, $color-secondary-1-2,
      $color-secondary-1-3, $color-secondary-1-4
    );
  }

  &.theme-secondary-2 {
    @include card-theme(
      $color-secondary-2-0, $color-secondary-2-1, $color-secondary-2-2,
      $color-secondary-2-3, $color-secondary-2-4
    );
  }

  &.theme-complement {
    @include card-theme(
      $color-complement-0, $color-complement-1, $color-complement-2,
      $color-complement-3, $color-complement-4
    );
  }
}

@media screen and (min-width: 40em) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    flex: 0 1 calc(50% - 0.5em);
    &.span-wide { }
    &.span-full { }
  }
}

@media screen and (min-width: 80em) {
  .card {
    flex: 0 1 calc(33% - 0.3em);
    &.span-wide { flex: 0 2 calc(66% - 0.15em); }
    &.span-full { flex: 0 3 100%; }
  }
}
