.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1 100%;
  height: 200px;
  box-sizing: border-box;
  margin: .25em;
  padding: 1em;
  background: #eee;
  color: #111;
}

@media screen and (min-width: 40em) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    flex: 0 1 calc(50% - 0.5em);
  }
}

@media screen and (min-width: 60em) {
  .card {
    flex: 0 1 calc(33% - 0.3em);
  }
}

@media screen and (min-width: 80em) {
  .card {
    flex: 0 1 calc(25% - 0.5em);
  }
}
