.card.blog {
  ul {
    list-style: none;
    margin: 0.5em 1em;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    li {
      text-align: center;
      margin-bottom: 1em;
      display: flex;
      flex-direction: column;
      a {
        position: relative;
        width: 128px;
        height: 128px;
        overflow: hidden;
        background-color: rgba(11, 11, 11, 0.7);
        img {
          width: 128px;
          opacity: 0.7;
        }
        &:hover img {
          opacity: 1;
        }
        .title {
          font-size: 0.85em;
          line-height: 1.25em;
          display: block;
          position: absolute;
          width: calc(100% - 1em);
          bottom: 0;
          padding: 0.5em;
          background-color: rgba(11, 11, 11, 0.8);
        }
      }
    }
  }
}

