<html lang="en">
  <head>
    <meta charSet="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% htmlWebpackPlugin.options.css.forEach(function(file){ %>
      <link href="<%- file %>" rel="stylesheet">
    <% }); %>
  </head>
  <body>
    <div id="root">
      <%- htmlWebpackPlugin.options.body %>
    </div>
    <% htmlWebpackPlugin.options.js.forEach(function(file){ %>
      <% if (file.indexOf('static') !== 0) { %>
        <script src="<%- file %>" async></script>
      <% } %>
    <% }); %>
  </body>
</html>
