<html lang="en">
  <head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% htmlWebpackPlugin.options.css.forEach(function(file){ %>
      <link href="<%- file %>" rel="stylesheet">
    <% }); %>
  </head>
  <body>
    <div id="root">
      <%- htmlWebpackPlugin.options.body %>
    </div>
    <% htmlWebpackPlugin.options.js.forEach(function(file){ %>
      <% if (file.indexOf('static') !== 0) { %>
        <script src="<%- file %>" async></script>
      <% } %>
    <% }); %>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setCookieDomain", "*.lmorchard.com"]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analytics.lmorchard.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//analytics.lmorchard.com/piwik.php?idsite=2&rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

  </body>
</html>


