@import "theme", "colors", "layout";

// @import "~fxemoji/dist/symbols/style.css";
@font-face {
  font-family: "fxemoji-symbols";
  src: url('../node_modules/fxemoji/dist/symbols/symbols.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: $color-rich-black;
  color: #eeeeee;
  font: 14px sans-serif;
  text-align: inherit;
}

h2 {
  text-align: center;
}
